mat-toolbar {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 5;
  background: linear-gradient(-55deg, #8fc7f0 0%, #c2e1f7 20%, #8fc7f0 90%);
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 64px;
  span {
    font-weight: 400;
    cursor: pointer;
    margin-left: 15px;
  }
}
