mat-toolbar {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  z-index: 5;
  background-color: #565a89;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 64px;
  span {
    font-weight: 400;
    cursor: pointer;
  }
}
