<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="start center">
    <button mat-button mat-icon-button (click)="toggleMenu()">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >menu</mat-icon
      >
    </button>
    <span (click)="navigateToHome()">
      Angular Animations Explorer
    </span>
  </div>
  <button mat-button (click)="navigateToGithub()">
    <img src="assets/icons/github.svg" />
    <span fxShow.lt-sm="false" fxShow="true"> Github </span>
  </button>
</mat-toolbar>
