mat-card {
  background-color: #fdfdfd;
  border-radis: 5px;
  &.hover-enabled {
    cursor: pointer;
    &:hover {
      box-shadow: 0 8px 8px rgba(10, 16, 20, 0.24),
        0 0 8px rgba(10, 16, 20, 0.12);
    }
  }
}
