<div>
  <div>
    <app-button-basic
      text="trigger"
      (click)="selectReuseMethod('TRIGGER')"
    ></app-button-basic>
    <app-button-basic
      text="animation reference data"
      (click)="selectReuseMethod('ANIMATION_REFERENCE_DATA')"
    ></app-button-basic>
  </div>
  <ng-container [ngSwitch]="reuseMethodSelected">
    <div *ngSwitchCase="'TRIGGER'" @fade (@fade.done)="animationDone()">
      <ng-container *ngTemplateOutlet="card"></ng-container>
    </div>
    <div
      *ngSwitchCase="'ANIMATION_REFERENCE_DATA'"
      @slide
      (@slide.done)="animationDone()"
    >
      <ng-container *ngTemplateOutlet="card"></ng-container>
    </div>
  </ng-container>
</div>

<ng-template #card>
  <div class="card">
    <app-card-demo-sample></app-card-demo-sample>
  </div>
</ng-template>
