<app-card hoverEnabled="true" tabIndex="1">
  <div class="card-content-container" fxLayout="column" fxLayoutGap="1rem">
    <img *ngIf="config?.image" [src]="config.image" />
    <h2>{{ config?.title }}</h2>
    <span>{{ config?.description }}</span>

    <!-- TODO: determine what the tags will be used for -->
    <!-- <ng-container *ngIf="config?.tags as tags">
      <mat-chip-list>
        <mat-chip *ngFor="let tag of tags">{{ tag }}</mat-chip>
      </mat-chip-list>
    </ng-container> -->
  </div>
</app-card>
