<div>
  <div>
    <app-button-basic
      (click)="animate()"
      [disabled]="animation"
      text="default"
    ></app-button-basic>
    <app-button-basic
      (click)="animateWithLimit()"
      [disabled]="animation"
      text="limit (2)"
    ></app-button-basic>
  </div>
  <div>
    <div [@queryShake]="animation" (@queryShake.done)="animationDone()">
      <ng-container *ngTemplateOutlet="card"></ng-container>
    </div>
  </div>
</div>

<ng-template #card>
  <ng-container *ngFor="let item of [0, 1, 2, 3, 4]">
    <div class="card">
      <app-card-demo-sample></app-card-demo-sample>
    </div>
  </ng-container>
</ng-template>
