<div>
  <app-button-basic
    text="transform"
    (click)="selectTransformAnimation()"
  ></app-button-basic>
  <app-button-basic
    text="keyframes"
    (click)="selectKeyframeAnimation()"
  ></app-button-basic>
</div>
<div
  class="card"
  [class.card-reset]="!animationType"
  [class.card-keyframe]="animationType === 'KEYFRAME'"
  [class.card-transform]="animationType === 'TRANSFORM'"
  (animationend)="resetAnimation()"
  (transitionend)="resetAnimation()"
>
  <app-card-demo-sample></app-card-demo-sample>
</div>
