<div>
  <app-button-basic
    (click)="selectSequence('SEQUENCE')"
    text="sequence"
  ></app-button-basic>
  <app-button-basic
    (click)="selectSequence('GROUP')"
    text="group"
  ></app-button-basic>
  <app-button-basic
    (click)="selectSequence('STAGGER')"
    text="stagger"
  ></app-button-basic>
  <ng-container [ngSwitch]="sequenceSelected">
    <div
      *ngSwitchCase="'SEQUENCE'"
      @fadeGrowSequence
      (@fadeGrowSequence.done)="animationDone()"
    >
      <ng-container *ngTemplateOutlet="card"></ng-container>
    </div>
    <div
      *ngSwitchCase="'GROUP'"
      @fadeGrowGroup
      (@fadeGrowGroup.done)="animationDone()"
    >
      <ng-container *ngTemplateOutlet="card"></ng-container>
    </div>
    <div
      *ngSwitchCase="'STAGGER'"
      @fadeGrowStagger
      (@fadeGrowStagger.done)="animationDone()"
    >
      <ng-container *ngTemplateOutlet="cards"></ng-container>
    </div>
    <div *ngSwitchDefault></div>
  </ng-container>
</div>

<ng-template #cards>
  <ng-container *ngFor="let item of [0, 1, 2, 3, 4, 5]; let i = index">
    <ng-container *ngTemplateOutlet="card"></ng-container>
  </ng-container>
</ng-template>

<ng-template #card>
  <div class="card">
    <app-card-demo-sample></app-card-demo-sample>
  </div>
</ng-template>
