/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-slate-900;
}

// Markdown related styling
markdown {
    display: block;
    font-size: 1.1em;
    line-height: 1.6;
    @apply text-gray-400;
    pre {
      font-size: 0.8rem !important;
      border-radius: 8px !important;
      border: 1px solid rgb(55 65 81);
      background-color: rgb(30 41 59) !important;
      margin: 1rem 0 !important;
      z-index: -1;
      code {
        @apply p-0;
        background-color: transparent;
      }
    }
    code {
      @apply bg-slate-800 text-cyan-600 px-2 py-1 rounded;
      white-space: pre-wrap;
      font-family: monospace;
    }
    img {
      width: 80%;
      margin: 2em auto;
      display: block;
      @apply rounded max-w-2xl;
    }
    p {
      @apply mb-5 leading-relaxed;
    }
    h1 {
      @apply text-3xl font-medium text-cyan-300;
    }
    h2 {
      @apply text-gray-100 font-medium text-xl mt-8;
    }
    h3 {
      font-weight: bold !important;
    }
    h5 {
      // workaround: this is used for styling image descriptions
      text-align: center;
      font-style: italic !important;
      margin-top: -2em !important;
      margin-bottom: 2em;
      @apply text-sm;
    }
    a {
      @apply text-cyan-300 hover:underline transition duration-300 hover:text-cyan-500;
    }
    blockquote {
      @apply border border-cyan-900 bg-slate-800 rounded-lg px-5 py-7 text-gray-300;

      margin: 15px 0;
      // border-left: 5px solid #65adf1;
      // padding: 5px 15px;
      font-style: italic;
      p {
        margin-bottom: 0 !important;
      }
    }
  }
  

  // demo styles
  .animation-demo-container {
    @apply rounded-lg border border-cyan-700 bg-slate-800 flex flex-col;
    min-height: 350px;
    overflow: auto;
    .card-container {
      @apply grow p-5;
      .demo-card {
        @apply w-40 h-40 rounded-lg border bg-sky-300;
      }
    }
    .demo-controller-container {
      @apply flex flex-row gap-3 px-5 py-4 bg-cyan-700 rounded-b-lg z-10;
        .demo-button {
          @apply font-medium bg-white text-slate-900 rounded px-3 py-2 transition hover:opacity-80 hover:scale-105 duration-200;
        }
    }
  }

  .variant-switcher-button {
    @apply rounded-lg border border-cyan-700 flex flex-col text-cyan-500 px-3 py-2;
    &.active {
      @apply rounded-lg border border-cyan-700 bg-cyan-800 flex flex-col text-white;
    }
  }