mat-sidenav-container {
  height: calc(100% - 64px);
  mat-sidenav {
    width: 15rem;
    border: none;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        padding: 0.5rem 1rem;
        &.category {
          font-weight: bold;
        }
        &.post {
          padding-left: 1.5rem;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
            background-color: #f8f8f8;
          }
        }
      }
    }
  }
  mat-sidenav-content {
    background-color: #fff;
  }
}
