<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <ng-container *ngIf="sidenavList">
      <ul>
        <li *ngFor="let category of sidenavList">
          <ul>
            <li class="category">{{ category.name }}</li>
            <li
              class="post"
              *ngFor="let nav of category.routes"
              (click)="navigateToPost(category.path, nav.path)"
            >
              {{ nav.title }}
            </li>
          </ul>
        </li>
      </ul>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content select="[main-content]"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
